<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="/styles/Join.css">
</head>
<body>

    <div class="flex-container">
        <h1>Set a New Password</h1>
        <div class="form-container">
            <form action="/user/change-password" method="post">
                <input type="hidden" name="token" th:value="${token}">
                
                <label>New Password:</label>
                <input type="password" name="newPassword" required>
                <br>
                <label>Confirm Password:</label>
                <input type="password" name="confirmPassword" required>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <br>

                <p th:if="${message}" th:text="${message}" style="color: green;"></p>
                <p th:if="${error}" th:text="${error}" style="color: red;"></p>

                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>

</body>
</html>
