<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/Join.css">
</head>
<body>

    <div class="flex-container">
        <h1>Login to your account</h1>
        <div class="form-container">
            <!-- Success Message -->
            <p th:if="${message}" th:text="${message}" style="color: green;"></p>
            
            <!-- Error Message -->
            <p th:if="${error}" th:text="${error}" style="color: red;"></p>

            <form action="/user/login" method="post">
                <label>Email:</label>
                <input type="email" name="email" required>
                <br>
                <label>Password:</label>
                <input type="password" name="password" required>
                <br>
                <button type="submit">Login</button>
                <p><a href="/user/reset-password">Forgot Password?</a></p>
                <p>Don't have an account? <a href="/user/new">Sign up here</a></p>
            </form>
        </div>
    </div>

</body>
</html>
